.form-inline {
    padding-top: 7px;

    input, select, button{
        background-color: #404040;
        color: white;
        border: solid #1a1a1a thin;
    }

}

body {
    background-color: #1a1a1a;
}

.navbar {
    background-color: #0d0d0d;
    border: none;
    border-bottom: solid #262626 thin;
}

.caption > p {
    color: white;
}

.thumbnail{
    background-color: transparent;
    border: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .caption {
        font-size: 18px;
    }
}